html,
body {
  background-image: url("https://wallpapercave.com/wp/1ecsoou.jpg");
}

.header,
.footer {
  text-align: center;
}

/* Bootstrap override */
h3 {
  color: #FFF !important;
}

.content {
  color: #FFF;
  height: 240px;
  padding: 16px;
}

/* Bootstrap override padding */
.content__game-row {
  border-bottom: 1px solid #FFF;
  padding: 0 !important;
}

.content__game-row:last-child {
  border: none;
}

/* Bootstrap override padding */
.content__game-field {
  cursor: pointer;
  height: 72px;
  padding: 0 !important;
  text-align: center;
}

.content__game-field--center {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

.circle,
.cross {
  font-size: 48px;
}
